<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.mvcboard.mapper.BoardfileMapper">
	<insert id="insertBoardfile" parameterType="com.goodee.mvcboard.vo.Boardfile">
		insert into boardfile(
			board_no,
			origin_filename,
			save_filename,
			filetype,
			filesize
		) values(
			#{boardNo},
			#{originFilename},
			#{saveFilename},
			#{filetype},
			#{filesize}
		)
	</insert>
	<select id="selectBoardfile" parameterType="int">
		select boardfile_no boardfileNo, save_filename saveFilename
		from boardfile
		where board_no = #{boardNo}
	</select>
	<delete id="deleteBoardfileByBoard" parameterType="int">
		delete from boardfile
		where board_no = #{boardNo}
	</delete>
	<delete id="deleteOneBoardfile" parameterType="int">
		delete from boardfile
		where boardfile_no = #{boardfileNo}
	</delete>
	<select id="selectOneBoardfile" parameterType="int">
		select board_no boardNo, save_filename saveFilename
		from boardfile
		where boardfile_no = #{boardfileNo}
	</select>
</mapper>